@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --violet: hsl(257, 40%, 49%);
    --soft_magenta: hsl(300, 69%, 71%);
}

body {
    background: var(--violet) url("../images/bg-mobile.svg") no-repeat;
    color: white;
}

.social {
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
